$footer-color-text: #fdbd1f;
$cards-form-text-color: #76b2be;

$fs-title: 29px;
$fs-sub-title: 21px;
$fs-btns: 15px;
$fs-form: 14px;

$fs-title-sm: 22px;
$fs-sub-title-sm: 16px;

$upper: uppercase;

$sourceSansPro: "Source Sans Pro', sans-serif";
$arial: "Arial, serif";
$times: 'Times New Roman, serif';

$bg-color-green: #1bbc9b;
$bg-color-red: #e84c3d;
$bg-color-yellow: #fdbd1f;
$bg-color-purple: #9b58b5;
$bg-color-nacre: #245963;
